@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #546275
    
}
.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculadora form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    font-weight: bold;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
h1{
    margin-right: 50px;
    font-family: 'Dela Gothic One', cursive;
    font-size: 75px;
    text-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }
    h1{
        text-align: center;
        font-family: 'Dela Gothic One', cursive;
        font-size: 35px;
        text-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        color: #fff;
        margin-bottom: 10px;
    }
}